<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">100Дорог</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/news">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tours">Туры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacts">Контакты</a>
                        </li>
                        <li sec:authorize="hasAnyRole('SUPER-ADMIN', 'ADMIN')" class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/persons/admin-panel">Пользователи</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/persons/add">Регистрация</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/persons/login">Вход</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link blue" aria-current="page" sec:authentication="principal.username" th:href="@{/persons/{login}(login=${#authentication.name})}"></a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/persons/logout">Выйти</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
            </div>
            </div>
        </nav>
    </header>
</div>