<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Новости</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>
<header th:insert="fragments/header :: header"></header>

<a class="nav-link active" aria-current="page" href="/photo/add">Добавить фото</a>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div th:each="image : ${images}" class="col">
                <div class="card shadow-sm">
                    <img th:src="${image.url}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="photo"/>

                    <div class="card-body">

                           <div class="d-flex justify-content-between mb-3">
                               <p class="card-text" th:text="${image.title}"></p>
                               <p th:if="${image.person}" th:text="${image.person.login}"></p>
                           </div>


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                                <form th:method="DELETE" th:action="@{/photo/{id}(id=${image.getId()})}">
                                    <input class="btn btn-danger" type="submit" value="Удалить">
                                </form>
                            </div>
                            <small class="text-muted" th:text="${#temporals.format(image.time, 'dd-MM-yyyy HH:mm')}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>