<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:Добавлено="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Пользователь</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="container mt-5">
    <br>
    <div class="card text-dark bg-info mb-3">
        <p><b>ID: </b><span th:text="${person.id}"/></p>
        <p><b>Имя: </b><span th:text="${person.firstName}"/></p>
        <p><b>Фамилия: </b><span th:text="${person.lastName}"/></p>
        <p><b>Email: </b><span th:text="${person.email}"/></p>
        <p><b>Логин: </b><span th:text="${person.login}"/></p>
        <a th:href="@{/persons/{id}/edit(id=${person.getId()})}" class="btn btn-warning">Редактировать</a><br><br>
        <form th:method="DELETE" th:action="@{/persons/{id}(id=${person.getId()})}">
            <input class="btn btn-danger" type="submit" value="Удалить">
        </form>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</main>
</body>
</html>